<h1><%= @merchant.name %>'s Bulk Discounts</h1>

<div id="bd-<%= @bulk_discount.id %>">
  <p>Quantity Threshold: <%= @bulk_discount.quantity %></p>
  <p>Percentage Discount: <%= @bulk_discount.percentage %>%</p>
</div>
